---
layout: default
permalink: '/'
---
<main class="mdl-layout__content">
    <div class="mdl-grid portfolio-max-width">
        {% for post in site.posts %}
        <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
            <div class="mdl-card__media">
                <img class="article-image" src=" images/example-work01.jpg" border="0" alt="">
            </div>
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">{{ post.title }}</h2>
            </div>
            <div class="mdl-card__supporting-text">
                Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="{{ post.url }}">Read more</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% include footer.html %}
</main>
