<nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
    {% if page.url == {{site.baseurl}} or page.url contains "/lekhalekhi" %}
      <a class="mdl-navigation__link is-active" href="{{site.baseurl}}index.html">লেখালেখি</a>
    {% else %}
      <a class="mdl-navigation__link" href="{{site.baseurl}}index.html">লেখালেখি</a>
    {% endif %}

    {% if page.url contains "/about" %}
      <a class="mdl-navigation__link is-active" href="{{site.baseurl}}about.html">আমার সম্পর্কে</a>
    {% else %}
      <a class="mdl-navigation__link" href="{{site.baseurl}}about.html">আমার সম্পর্কে</a>
    {% endif %}

    {% if page.url contains "/supportme" %}
      <a class="mdl-navigation__link is-active" href="{{site.baseurl}}supportme.html">লেখক সম্মানী</a>
    {% else %}
      <a class="mdl-navigation__link" href="{{site.baseurl}}supportme.html">লেখক সম্মানী</a>
    {% endif %}

    {% if page.url contains "/contact" %}
      <a class="mdl-navigation__link is-active" href="{{site.baseurl}}contact.html">যোগাযোগ</a>
    {% else %}
      <a class="mdl-navigation__link" href="{{site.baseurl}}contact.html">যোগাযোগ</a>
    {% endif %}

</nav>
